* text=auto eol=lf
*.ps1 text eol=lf
*.cs text diff=csharp eol=lf
*.csproj text eol=lf
*.props text eol=lf
*.slnx text eol=lf
*.json text eol=lf
*.md text eol=lf
*.png binary
*.ico binary
*.ttf binary
*.onnx binary
*.bin binary
